# evidently==0.4.28
# faiss_cpu==1.12.0
# fastapi==0.123.5
# joblib==1.5.1
# joblib==1.5.2
# mlflow==3.5.1
# mlflow_skinny==3.5.1
# mlflow_tracing==3.5.1
# numpy==2.3.5
# pandas==2.3.3
# prometheus_client==0.22.1
# prometheus_client==0.23.1
# prometheus_fastapi_instrumentator==7.1.0
# protobuf==6.33.1
# pydantic==2.12.5
# python-dotenv==1.2.1
# Requests==2.32.5
# scikit_learn==1.7.2
# scipy==1.16.3
# sentence_transformers==5.1.2
# streamlit==1.51.0
# tqdm==4.67.1
# uvicorn==0.38.0
# streamlit==1.50.0

# optimised req.text for cloud so it doesnt exceed size limits
evidently==0.4.28
faiss_cpu==1.12.0
fastapi==0.123.5
joblib==1.5.1
mlflow==3.5.1
mlflow_skinny==3.5.1
mlflow_tracing==3.5.1
numpy==1.26.4
pandas==2.3.3
prometheus_client==0.23.1
prometheus_fastapi_instrumentator==7.1.0
protobuf==6.33.1
pydantic==2.12.5
python-dotenv==1.2.1
requests==2.32.5
scikit_learn==1.7.2
scipy==1.16.3
sentence_transformers==5.1.2
streamlit==1.51.0
tqdm==4.67.1
uvicorn==0.38.0
